repos:
  - repo: https://github.com/ddanier/sub-pre-commit.git
    rev: v{{ cookiecutter.__pre_commit_version }}  # MUST match your pre-commit version
    hooks:
      - id: sub-pre-commit
        alias: backend
        name: "pre-commit for backend/"
        args: ["-p", "backend/"]
        files: "^backend/.*"
        stages: ["commit"]
